@model List<DepoStok.Models.Entities.Vw_StokDurumu>

@{
    ViewData["Title"] = "Stok Durumu";
}

<h2>Stok Durumu</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Depo Adı</th>
            <th>Malzeme Adı</th>
            <th>Kalan Miktar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.depoAd</td>
                <td>@item.malzemeAdi</td>
                <td>@item.KalanMiktar</td>
            </tr>
        }
    </tbody>
</table>
