@using DepoStok.Models.Entities
@model malzeme

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>malzeme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="malzemeId" />
            <div class="form-group">
                <label asp-for="malzemeAdi" class="control-label"></label>
                <input asp-for="malzemeAdi" class="form-control" />
                <span asp-validation-for="malzemeAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="birim" class="control-label"></label>
                <input asp-for="birim" class="form-control" />
                <span asp-validation-for="birim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kategori" class="control-label"></label>
                <input asp-for="kategori" class="form-control" />
                <span asp-validation-for="kategori" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="minStokMiktar" class="control-label"></label>
                <input asp-for="minStokMiktar" class="form-control" />
                <span asp-validation-for="minStokMiktar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="barkodNo" class="control-label"></label>
                <input asp-for="barkodNo" class="form-control" />
                <span asp-validation-for="barkodNo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="aktifPasif" /> @Html.DisplayNameFor(model => model.aktifPasif)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="aciklama" class="control-label"></label>
                <input asp-for="aciklama" class="form-control" />
                <span asp-validation-for="aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
