@model DepoStok.Models.logTakip

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Create</h1>

<h4>logTakip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="kullaniciId" class="control-label"></label>
                <select asp-for="kullaniciId" class ="form-control" asp-items="ViewBag.kullaniciId"></select>
            </div>
            <div class="form-group">
                <label asp-for="tabloAdi" class="control-label"></label>
                <input asp-for="tabloAdi" class="form-control" />
                <span asp-validation-for="tabloAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="islemTipi" class="control-label"></label>
                <input asp-for="islemTipi" class="form-control" />
                <span asp-validation-for="islemTipi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="islemTarihi" class="control-label"></label>
                <input asp-for="islemTarihi" class="form-control" />
                <span asp-validation-for="islemTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="detay" class="control-label"></label>
                <input asp-for="detay" class="form-control" />
                <span asp-validation-for="detay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
