@model DepoStok.Models.irsaliyeDetay

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Create</h1>

<h4>irsaliyeDetay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="irsaliyeId" class="control-label"></label>
                <select asp-for="irsaliyeId" class ="form-control" asp-items="ViewBag.irsaliyeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="malzemeId" class="control-label"></label>
                <select asp-for="malzemeId" class ="form-control" asp-items="ViewBag.malzemeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="miktar" class="control-label"></label>
                <input asp-for="miktar" class="form-control" />
                <span asp-validation-for="miktar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="birimFiyat" class="control-label"></label>
                <input asp-for="birimFiyat" class="form-control" />
                <span asp-validation-for="birimFiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="araToplam" class="control-label"></label>
                <input asp-for="araToplam" class="form-control" />
                <span asp-validation-for="araToplam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="seriNo" class="control-label"></label>
                <input asp-for="seriNo" class="form-control" />
                <span asp-validation-for="seriNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
