@model DepoStok.Models.depoTransferDetay

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Create</h1>

<h4>depoTransferDetay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="transferId" class="control-label"></label>
                <select asp-for="transferId" class ="form-control" asp-items="ViewBag.transferId"></select>
            </div>
            <div class="form-group">
                <label asp-for="malzemeId" class="control-label"></label>
                <select asp-for="malzemeId" class ="form-control" asp-items="ViewBag.malzemeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="miktar" class="control-label"></label>
                <input asp-for="miktar" class="form-control" />
                <span asp-validation-for="miktar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
