@using DepoStok.Models.Entities
@model cari

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>cari</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="unvan" class="control-label"></label>
                <input asp-for="unvan" class="form-control" />
                <span asp-validation-for="unvan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefon" class="control-label"></label>
                <input asp-for="telefon" class="form-control" />
                <span asp-validation-for="telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adres" class="control-label"></label>
                <input asp-for="adres" class="form-control" />
                <span asp-validation-for="adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vergiNo" class="control-label"></label>
                <input asp-for="vergiNo" class="form-control" />
                <span asp-validation-for="vergiNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vergiDairesi" class="control-label"></label>
                <input asp-for="vergiDairesi" class="form-control" />
                <span asp-validation-for="vergiDairesi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
